<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestAll">
    <test name="case1">
        <classes>
            <class name="TestDBConnection"/>
                <methods>
                    <include name="runOtherTest2"/>
                </methods>
        </classes>

    </test>
    <test name="DB">
        <classes>
            <exclude name="not_run">
                <class name="DBConfig"/>
                <methods>
                    <include name="beforeSuite"></include>
                </methods>
            </exclude>
        </classes>
    </test>

</suite>